<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape document_id: 6ec665232e6fc828980877e8 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Gazebo properties for the base link -->
  <gazebo reference="base_link">
    <mu1 value="0.5"/> <!-- Friction coefficient in the first direction -->
    <mu2 value="0.5"/> <!-- Friction coefficient in the second direction -->
  </gazebo>

  <gazebo reference="lidar_link">
    <mu1 value="0.5"/> <!-- Friction coefficient in the first direction -->
    <mu2 value="0.5"/> <!-- Friction coefficient in the second direction -->
  </gazebo>

  <!-- Only needed if IMU link is a physical part, if not then comment out-->
  <!--<gazebo reference="imu_link">
    <mu1 value="0.5"/> 
    <mu2 value="0.5"/> 
  </gazebo>-->

  <gazebo reference="camera_link">
    <mu1 value="0.5"/> <!-- Friction coefficient in the first direction -->
    <mu2 value="0.5"/> <!-- Friction coefficient in the second direction -->
  </gazebo>


  <!-- Gazebo properties for wheel/axle links -->
  <!-- Right Wheels -->
  <gazebo reference="right_wheel_link">
    <mu1 value="1.0"/> <!-- High Friction coefficient for wheels -->
    <mu2 value="1.0"/> <!-- High Friction coefficient for wheels -->
    <kp value="1000000.0"/> <!-- Spring stiffness for contact (optional, but good defaults) -->
    <kd value="0.5"/> <!-- Damping coefficient for contact (optional) -->
  </gazebo>

  <!-- Left Wheel -->
  <gazebo reference="left_wheel_link">
    <mu1 value="1.0"/> <!-- High Friction coefficient for wheels -->
    <mu2 value="1.0"/> <!-- High Friction coefficient for wheels -->
    <kp value="1000000.0"/> <!-- Spring stiffness for contact (optional, but good defaults) -->
    <kd value="0.5"/> <!-- Damping coefficient for contact (optional) -->
  </gazebo>

  
  <!-- Caster Wheels -->
  <gazebo reference="caster_wheel_link">
    <mu1 value="0.1"/> 
    <mu2 value="0.1"/> 
   <!--  <kp value="1000000.0"/> 
    <kd value="0.1"/> --> 
  </gazebo>

  <!-- <gazebo reference="caster_frame_link">
    <mu1 value="0.05"/> 
    <mu2 value="0.05"/>  
  </gazebo> -->

</robot>